<body class="bg-gradient-primary">
  <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>
              <form class="user" [formGroup]="registerForm">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input
                      type="text"
                      class="form-control form-control-user"
                      id="exampleFirstName"
                      placeholder="First Name"
                      formControlName="firstname"
                      [ngClass]="{
                        'is-invalid': submitted && f['firstname'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && f['firstname'].errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f['firstname'].errors['required']">
                        Password is required
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <input
                      type="text"
                      class="form-control form-control-user"
                      id="exampleLastName"
                      placeholder="Last Name"
                      formControlName="lastname"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input
                      type="email"
                      class="form-control form-control-user"
                      id="exampleInputEmail"
                      placeholder="Email Address"
                      formControlName="email"
                      [ngClass]="{
                        'is-invalid': submitted && f['email'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && f['email'].errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f['email'].errors['required']">
                        Email is required
                      </div>
                      <div *ngIf="f['email'].errors['email']">
                        Email must be a valid email address
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <input
                      class="form-control form-control-user"
                      id="exampleAdresse"
                      placeholder="Adresse"
                      formControlName="adresse"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input
                      type="password"
                      class="form-control form-control-user"
                      id="exampleInputPassword"
                      placeholder="Password"
                      formControlName="password"
                      [ngClass]="{
                        'is-invalid': submitted && f['password'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && f['password'].errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f['password'].errors['required']">
                        Password is required
                      </div>
                      <div *ngIf="f['password'].errors['minlength']">
                        Password must be at least 6 characters
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <input
                      type="password"
                      formControlName="confirmPassword"
                      placeholder="ConfirmPassword"
                      class="form-control form-control-user"
                      [ngClass]="{
                        'is-invalid': submitted && f['confirmPassword'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && f['confirmPassword'].errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f['confirmPassword'].errors['required']">
                        Confirm Password is required
                      </div>
                      <div *ngIf="f['confirmPassword'].errors['mustMatch']">
                        Passwords must match
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <input
                    type="file"
                    (change)="handleFileInput($event)"
                    name="file"
                    class="form-control form-control-user"
                    id="exempleRepeat"
                    placeholder="file"
                  />
                </div>
                <button
                  class="btn btn-primary btn-user btn-block"
                  (click)="onSubmit()"
                >
                  Register Account
                </button>
                <hr />
                <a href="index.html" class="btn btn-google btn-user btn-block">
                  <i class="fab fa-google fa-fw"></i> Register with Google
                </a>
                <a
                  href="index.html"
                  class="btn btn-facebook btn-user btn-block"
                >
                  <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                </a>
              </form>
              <hr />
              <div class="text-center">
                <a class="small" href="forgot-password.html"
                  >Forgot Password?</a
                >
              </div>
              <div class="text-center">
                <a class="small" routerLink="/login"
                  >Already have an account? Login!</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>
</body>
