<div class="p-5">
  <div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Create Subcategory !</h1>
  </div>
  <form [formGroup]="subForm" (ngSubmit)="onSubmit()" class="user">
    <div class="form-group row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <input
          type="text"
          class="form-control form-control-user"
          placeholder="Name"
          formControlName="name"
        />
      </div>
      <div class="col-sm-6">
        <input
          type="text"
          class="form-control form-control-user"
          placeholder="Description"
          formControlName="description"
        />
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <label>Choisir Category</label>
        <select
          type="radio"
          class="form-select"
          aria-label="Default select example"
          formControlName="category"
        >
          <option *ngFor="let cat of listcategory" [value]="cat._id">
            {{ cat.name }}
          </option>
        </select>
      </div>
    </div>
    <hr />

    <button class="btn btn-primary btn-user btn-block">
      Create Subcategory
    </button>
    <button
      class="btn btn-primary btn-user btn-block"
      type="reset"
      (click)="onReset()"
    >
      Cancel
    </button>
  </form>
  <hr />
</div>
