<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">List Subcategory</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="dataTables_length" id="dataTable_length">
              <label
                >Show
                <select
                  name="dataTable_length"
                  aria-controls="dataTable"
                  class="custom-select custom-select-sm form-control form-control-sm"
                >
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                entries</label
              >
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div id="dataTable_filter" class="dataTables_filter">
              <label
                >Search:<input
                  type="text"
                  [(ngModel)]="searchname"
                  name=""
                  id=""
                  class="form-control"
                  area-describedby="helpId"
                  placeholder="search.."
              /></label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table
              class="table table-bordered dataTable"
              id="dataTable"
              width="100%"
              cellspacing="0"
              role="grid"
              aria-describedby="dataTable_info"
              style="width: 100%"
            >
              <thead>
                <tr role="row">
                  <th
                    class="sorting sorting_asc"
                    tabindex="0"
                    aria-controls="dataTable"
                    rowspan="1"
                    colspan="1"
                    aria-sort="ascending"
                    aria-label="Name: activate to sort column descending"
                    style="width: 57px"
                  >
                    #
                  </th>
                  <th
                    class="sorting sorting_asc"
                    tabindex="0"
                    aria-controls="dataTable"
                    rowspan="1"
                    colspan="1"
                    aria-sort="ascending"
                    aria-label="Name: activate to sort column descending"
                    style="width: 57px"
                  >
                    Name
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="dataTable"
                    rowspan="1"
                    colspan="1"
                    aria-label="Position: activate to sort column ascending"
                    style="width: 61px"
                  >
                    Description
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="dataTable"
                    rowspan="1"
                    colspan="1"
                    aria-label="Office: activate to sort column ascending"
                    style="width: 49px"
                  >
                    Category
                  </th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th rowspan="1" colspan="1">#</th>
                  <th rowspan="1" colspan="1">Name</th>
                  <th rowspan="1" colspan="1">Description</th>
                  <th rowspan="1" colspan="1">Category</th>
                </tr>
              </tfoot>
              <tbody>
                <tr
                  *ngFor="
                    let sub of listsub
                      | paginate: { itemsPerPage: 5, currentPage: p }
                      | recherche: searchname;
                    let index = index
                  "
                  class="odd"
                >
                  <td class="sorting_1">{{ index + 1 }}</td>
                  <td>{{ sub.name }}</td>
                  <td>{{ sub.description }}</td>
                  <td>{{ sub.category.name }}</td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-warning"
                      (click)="open(content, sub)"
                    >
                      Update
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-info">Info</button>
                    &nbsp;
                    <button
                      (click)="deletesubcategory(sub._id)"
                      type="button"
                      class="btn btn-danger"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-5">
            <pagination-controls
              (pageChange)="p = $event"
              previousLabel=""
              nextLabel=""
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- partie update -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Product update</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- ajouter la formgoupre decalare au niveau .ts -->
    <form [formGroup]="subForm">
      <div class="form-group col-5">
        <label>Name</label>
        <input type="text" formControlName="name" class="form-control" />
      </div>

      <div class="form-group col-5">
        <label>Description</label>
        <input type="text" formControlName="description" class="form-control" />
      </div>

      <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <label>Choisir Category</label>
          <select
            class="form-select"
            aria-label="Default select example"
            formControlName="category"
          >
            <option *ngFor="let cat of listcategory" [value]="cat._id">
              {{ cat.name }}
            </option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click'); updatesubcategory()"
    >
      Save
    </button>
  </div>
</ng-template>

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
   -->
<hr />

<pre>{{ closeResult }}</pre>

<!-- !!!!!!!!!!!!!!!!!!!!!!!!! -->
