<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Tables</h1>
  <p class="mb-4">
    DataTables is a third party plugin that is used to generate the demo table
    below. For more information about DataTables, please visit the
    <a target="_blank" href="https://datatables.net"
      >official DataTables documentation</a
    >.
  </p>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="dataTable_length">
                <label
                  >Show
                  <select
                    name="dataTable_length"
                    aria-controls="dataTable"
                    class="custom-select custom-select-sm form-control form-control-sm"
                  >
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                  entries</label
                >
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div id="dataTable_filter" class="dataTables_filter">
                <label
                  >Search:<input
                    type="text"
                    [(ngModel)]="searchname"
                    name=""
                    id=""
                    class="form-control"
                    area-describedby="helpId"
                    placeholder="search.."
                /></label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <table
                class="table table-bordered dataTable"
                id="dataTable"
                width="100%"
                cellspacing="0"
                role="grid"
                aria-describedby="dataTable_info"
                style="width: 100%"
              >
                <thead>
                  <tr role="row">
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="dataTable"
                      rowspan="1"
                      colspan="1"
                      aria-label="Position: activate to sort column ascending"
                      style="width: 61px"
                    >
                      #
                    </th>
                    <th
                      class="sorting sorting_asc"
                      tabindex="0"
                      aria-controls="dataTable"
                      rowspan="1"
                      colspan="1"
                      aria-sort="ascending"
                      aria-label="Name: activate to sort column descending"
                      style="width: 57px"
                    >
                      Name
                    </th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="dataTable"
                      rowspan="1"
                      colspan="1"
                      aria-label="Position: activate to sort column ascending"
                      style="width: 61px"
                    >
                      Quantite
                    </th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="dataTable"
                      rowspan="1"
                      colspan="1"
                      aria-label="Office: activate to sort column ascending"
                      style="width: 49px"
                    >
                      Prix
                    </th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="dataTable"
                      rowspan="1"
                      colspan="1"
                      aria-label="Office: activate to sort column ascending"
                      style="width: 49px"
                    >
                      Provider
                    </th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="dataTable"
                      rowspan="1"
                      colspan="1"
                      aria-label="Office: activate to sort column ascending"
                      style="width: 49px"
                    >
                      Subcategory
                    </th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="dataTable"
                      rowspan="1"
                      colspan="1"
                      aria-label="Age: activate to sort column ascending"
                      style="width: 31px"
                    >
                      Reference
                    </th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th rowspan="1" colspan="1">#</th>
                    <th rowspan="1" colspan="1">Name</th>
                    <th rowspan="1" colspan="1">Quantite</th>
                    <th rowspan="1" colspan="1">Prix</th>
                    <th rowspan="1" colspan="1">Provider</th>
                    <th rowspan="1" colspan="1">Subcategory</th>
                    <th rowspan="1" colspan="1">Reference</th>
                    <th rowspan="1" colspan="1">Color</th>
                  </tr>
                </tfoot>
                <tbody>
                  <tr
                    class="odd"
                    *ngFor="
                      let product of listproduct
                        | paginate: { itemsPerPage: 10, currentPage: p }
                        | recherche: searchname;
                      let index = index
                    "
                  >
                    <td>{{ index + 1 }}</td>
                    <td class="sorting_1">{{ product.name }}</td>
                    <td>{{ product.quantite }}</td>
                    <td>{{ product.prix }}</td>
                    <td>{{ product.provider.name }}</td>
                    <td>{{ product.subcategory.name }}</td>
                    <td>{{ product.ref }}</td>
                    <td>{{ product.color }}</td>

                    <button class="btn btn-info btn-icon-split">
                      <span class="icon text-white-50">
                        <i
                          class="fas fa-info-circle"
                          [routerLink]="['/detailproduct', product._id]"
                        ></i>
                      </span>
                      <span
                        [routerLink]="['/detailproduct', product._id]"
                        class="text"
                        >Info</span
                      >
                    </button>
                    <button
                      type="button"
                      class="btn btn-warning"
                      (click)="open(content, product)"
                    >
                      Update
                    </button>

                    <button class="btn btn-danger btn-icon-split">
                      <span
                        (click)="deleteProduct(product._id)"
                        class="icon text-white-50"
                      >
                        <i class="fas fa-trash"></i>
                      </span>
                      <span (click)="deleteProduct(product._id)" class="text"
                        >Delete</span
                      >
                    </button>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-5">
              <div
                class="dataTables_info"
                id="dataTable_info"
                role="status"
                aria-live="polite"
              >
                Showing 1 to 10 of 57 entries
              </div>
            </div>
          </div>
          <pagination-controls
            (pageChange)="p = $event"
            previousLabel=""
            nextLabel=""
          >
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- partie update -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Product update</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- ajouter la formgoupre decalare au niveau .ts -->
    <form [formGroup]="productForm">
      <div class="form-group col-5">
        <label>Name</label>
        <input type="text" formControlName="name" class="form-control" />
      </div>
      <div class="form-group col-5">
        <label>Prix</label>
        <input type="text" formControlName="prix" class="form-control" />
      </div>
      <div class="form-group col-5">
        <label>Quantite</label>
        <input type="text" formControlName="quantite" class="form-control" />
      </div>
      <div class="form-group col-5">
        <label>Reference</label>
        <input type="text" formControlName="ref" class="form-control" />
      </div>
      <div class="form-group col-5">
        <label>Description</label>
        <input type="text" formControlName="description" class="form-control" />
      </div>
      <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <label>Choisir Color</label>
          <select
            type="radio"
            class="form-select"
            aria-label="Default select example"
            formControlName="color"
          >
            <option value="white">White</option>
            <option value="Black">Black</option>
            <option value="Grey">Grey</option>
            <option value="Yellow">Yellow</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click'); updateProduct()"
    >
      Save
    </button>
  </div>
</ng-template>

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
 -->
<hr />

<pre>{{ closeResult }}</pre>

<!-- !!!!!!!!!!!!!!!!!!!!!!!!! -->
