<div class="d-flex justify-content-center container mt-5">
  <div class="card p-3 bg-white">
    <i class="fa fa-apple"></i>
    <div class="about-product text-center mt-2">
      <img src="https://i.imgur.com/3VTaSeb.png" width="300" />
      <div>
        <h4>Believing is seeing</h4>
        <h6 class="mt-0 text-black-50">Name : {{ list.name }}</h6>
      </div>
    </div>
    <div class="stats mt-2">
      <div class="d-flex justify-content-between p-price">
        <span>Prix</span><span>{{ list.prix }}</span>
      </div>
      <div class="d-flex justify-content-between p-price">
        <span>Quantite</span><span>{{ list.quantite }}</span>
      </div>
      <div class="d-flex justify-content-between p-price">
        <span>subcategory</span><span>{{ list.subcategory.name }}</span>
      </div>
      <div class="d-flex justify-content-between p-price">
        <span>Provider</span><span>{{ list.provider.name }}</span>
      </div>
    </div>
    <!-- <div class="d-flex justify-content-between total font-weight-bold mt-4"><span>Total</span><span>$7,197.00</span></div>
    </div> -->
  </div>
</div>
