<div class="p-5">
  <div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Create Product !</h1>
  </div>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="user">
    <div class="form-group row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <input
          type="text"
          class="form-control form-control-user"
          placeholder="Name"
          formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
        />
        <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
          <div *ngIf="f['name'].errors['required']">Name is required</div>
        </div>
      </div>

      <div class="col-sm-6">
        <input
          type="text"
          class="form-control form-control-user"
          placeholder="Prix"
          formControlName="prix"
        />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <input
          type="text"
          class="form-control form-control-user"
          placeholder="Quantite"
          formControlName="quantite"
        />
      </div>
      <div class="col-sm-6">
        <input
          type="text"
          class="form-control form-control-user"
          placeholder="Reference"
          formControlName="ref"
        />
      </div>
    </div>

    <div class="form-group row">
      <input
        type="text"
        class="form-control form-control-user"
        placeholder="Description"
        formControlName="description"
      />
    </div>

    <div class="form-group row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <label>Choisir Subcategory</label>
        <select
          class="form-select"
          aria-label="Default select example"
          formControlName="subcategory"
        >
          <!-- <option selected>Choisir Subcategory</option> -->

          <option *ngFor="let sub of listsubcategory" [value]="sub._id">
            {{ sub.name }} --- {{ sub.category.name }}
          </option>
        </select>
      </div>
      <div class="col-sm-6">
        <label>Choisir Provider</label>
        <select
          formControlName="provider"
          class="form-select"
          aria-label="Default select example"
        >
          <!-- <option selected>Choisir provider</option> -->

          <option *ngFor="let pro of listprovider" [value]="pro._id">
            {{ pro.name }}
          </option>
        </select>
      </div>
    </div>
    <hr />
<div class="col-sm-6 mb-3">
    <input
      type="file"
      (change)="onFileChange($event)"
      name="pictures"
      multiple
      class="form-control form-control-user"
      id="exempleRepeat"
      placeholder="file"
    />
  </div>
    <button class="btn btn-primary btn-user btn-block">Create Product</button>
    <button
      class="btn btn-primary btn-user btn-block"
      type="reset"
      (click)="onReset()"
    >
      Cancel
    </button>
  </form>
  <hr />
</div>
